:root {
    --clr-dark-slate-grey: hsl(234, 29%, 20%);
    --clr-charcoal-grey: hsl(235, 18%, 26%);
    --clr-grey: hsl(231, 7%, 60%);
    --clr-white: hsl(0, 0%, 100%);
    --clr-red: rgba(217, 110, 105);
    --clr-red-light: rgba(217, 110, 105,.2);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: var(--clr-charcoal-grey);
}

h1 {

    font-weight: 800 !important;
    color: var(--clr-charcoal-grey);
}

p, li {
    color: var(--clr-dark-slate-grey);
}

button {
    background-color: var(--clr-dark-slate-grey) !important;
    /* font-weight: 600; */
}

label {
    font-weight: 800;
    color: var(--clr-charcoal-grey);
}

.invalid {
    color: var(--clr-red);
}

.invalid-input {
    border: var(--clr-red) 2px solid !important;
    color: var(--clr-red);
    background-color: var(--clr-red-light);
}

.invalid-input::placeholder {
    color: var(--clr-red);
}

input:focus {
    outline: none;
}